### 2.2 문자열(String)

In [1]:
# 작은 따옴표('), 큰 따옴표(")
a = 'Hello, World!!!'
b = "Hi, everyone!!!"
a, b

('Hello, World!!!', 'Hi, everyone!!!')

In [4]:
# Multi-line 
c = 'I love\nPython!!!'
print(c)

I love
Python!!!

In [5]:
c = '''I love
Python!!!'''
print(c)

I love
Python!!!

- 문자열 연산자

In [6]:
# 문자열 결합(concatanation)
'안녕' + "하세요?"

'안녕하세요?'

In [7]:
# 문자열과 숫자사이에는 문자열 결합(+) 연산자를 사용할 수 없음
'안녕' + 5

TypeError: can only concatenate str (not "int") to str

In [8]:
# 숫자를 문자로 변경해주는 함수 str() 을 사용해서 처리
'Hi, ' + str(5)

'Hi, 5'

In [9]:
# 반복 연산자(*)
'Hello ' * 3

'Hello Hello Hello '

In [11]:
'Hello ' * 0, 'Hello ' * False

('', '')

- 문자열 인덱싱

In [12]:
# 인덱스: 0부터 시작
a = '안녕하세요?'
a[0], a[2], a[5]

('안', '하', '?')

In [13]:
# 음수 인덱싱이 가능, 맨 끝이 a[-1]
a[-1], a[-6]

('?', '안')

In [15]:
a[len(a) - 1], a[-1]

('?', '?')

- 문자열 슬라이싱(slicing)
    - for (int i = 0; i < len; i = i + 1) 의미
    - 0 : len : 1
    - 시작 숫자 0 - 생략 가능
    - len이 문자열 길이면 - len 생략 가능
    - 증가분 1 - :1 생략 가능

In [16]:
a[0:2:1], a[0:2], a[:2]

('안녕', '안녕', '안녕')

In [17]:
a[3:6:1], a[3:6], a[3:]

('세요?', '세요?', '세요?')

In [21]:
a[0:6:2], a[::2]

('안하요', '안하요')

In [19]:
# 증가분 숫자가 음수면 시작 숫자는 제일 끝 문자
a[3:0:-1]

'세하녕'

In [20]:
# 문자열 뒤집기
a[::-1]

'?요세하녕안'

In [22]:
# 대칭 문자열(Palindrome)
a == a[::-1]

False

In [23]:
b = '우영우'
b == b[::-1]

True

- Index error

In [24]:
b[3]

IndexError: string index out of range

In [25]:
b[1:3]

'영우'

- 함수

In [26]:
len(a), len(b)

(6, 3)

In [27]:
type(a)

str

In [28]:
str(3), str(3.14), str(True)

('3', '3.14', 'True')

- F string : 파이썬 3.6 버전부터 가능

In [29]:
odd_sum, even_sum = 2500, 2550
print(f'1에서 100까지 홀수의 합은 {odd_sum}이고, 짝수의 합은 {even_sum}입니다.')
print('1에서 100까지 홀수의 합은 ' + str(odd_sum) + '이고, 짝수의 합은 ' + str(even_sum) + '입니다.')

1에서 100까지 홀수의 합은 2500이고, 짝수의 합은 2550입니다.
1에서 100까지 홀수의 합은 2500이고, 짝수의 합은 2550입니다.

In [30]:
import math
year, month, day = 2023, 8, 28

In [31]:
# format 지정도 가능
print(f'1에서 100까지 홀수의 합은 {odd_sum}이고, 짝수의 합은 {even_sum}입니다.')
print(f'1에서 100까지 홀수의 합은 {odd_sum:,d}이고, 짝수의 합은 {even_sum:,d}입니다.')
print(f'원주율 값은 {math.pi} 입니다.')
print(f'원주율 값은 {math.pi:.4f} 입니다.')
print(f'오늘은 {year}-{month}-{day} 입니다.')
print(f'오늘은 {year}-{month:02d}-{day:02d} 입니다.')

1에서 100까지 홀수의 합은 2500이고, 짝수의 합은 2550입니다.
1에서 100까지 홀수의 합은 2,500이고, 짝수의 합은 2,550입니다.
원주율 값은 3.141592653589793 입니다.
원주율 값은 3.1416 입니다.
오늘은 2023-8-28 입니다.
오늘은 2023-08-28 입니다.