### 2.3 변수와 입력

- 변수: 별도로 자료형과 선언을 해줄 필요가 없음

In [1]:
pi = 3.14159
pi + 2

5.14159

In [4]:
radius = 10
print('원의 둘레:', 2 * pi * radius)
print(f'원의 넓이: {pi * radius ** 2}')

원의 둘레: 62.8318
원의 넓이: 314.159

- 복합 대입 연산자: +=, -=, *=, ...

In [5]:
odd_sum = 0
for i in range(1, 100, 2):
    odd_sum += i
print(odd_sum)

2500

In [6]:
five_facto = 1
for i in range(1, 6):
    five_facto *= i
print(five_facto)

120

In [7]:
# 'hello:' * 3
three_hello = ''
for i in range(3):
    three_hello += 'hello:'
print(three_hello)

hello:hello:hello:

- 표기법: Snake notation

In [8]:
# 단어와 단어 사이에 _ 를 사용
my_height = 175         # myHeight, camel notation
my_weight = 70

In [9]:
_var = 5
print(_var)

5

In [10]:
# 값을 사용하지 않고 버리는 변수에는 종종 _ 를 사용한다.
height, weight, _ = 170, 65, 23

- 여러개의 변수

In [15]:
x, y, z = 10, 20, 30            # tuple unpacking
밑변, 높이, 대각선 = 3, 4, 5

In [16]:
# 두 변수값의 교환
temp = x
x = y
y = temp
print(x, y)

20 10

In [17]:
# 파이썬
x, y = y, x
x, y

(10, 20)

- 값이 없는 경우

In [19]:
x = None        # Java의 null에 해당
print(x)

None

- 입력

In [20]:
a = input('Prompt> ')
a, type(a)

('10', str)

In [21]:
# type 변환이 필요
a = input('첫번째 정수 입력> ')
b = input('두번째 정수 입력> ')
a + b

'34'

In [22]:
a = int(input('첫번째 정수 입력> '))
b = int(input('두번째 정수 입력> '))
a + b

7

In [23]:
# 인치 단위를 센티미터 단위로 변환
inch = float(input('인치값 실수 입력> '))
cm = 2.54 * inch
print(inch, cm)

4.0 10.16

- 입력값 여러개 받기

In [24]:
# 문자열 split() method
'10 20'.split()

['10', '20']

In [25]:
# list unpacking
a, b = '10 20'.split()
a, b

('10', '20')

In [26]:
a, b = input('정수 2개 입력> ').split()     # 3 4
a, b

('3', '4')

In [27]:
a, b = input('정수 2개 입력(,로 구분)> ').split(',')     # 3,4
a, b

('3', '4')

In [28]:
# 리스트의 각 원소(element)에 함수를 적용하는 방법: map
map(int, ['3', '4'])        # [int('3'), int('4')]

In [29]:
list(map(int, ['3', '4']))

[3, 4]

In [30]:
# split()과 map() 결합
list(map(int, input('두개의 정수 입력> ').split()))     # 30 40

[30, 40]

In [31]:
a, b = map(int, input('두개의 정수 입력> ').split())    # 30 40
a, b

(30, 40)

In [36]:
# 세개의 실수값 입력 받기
x, y, z = map(float, input('세개의 실수 입력> ').split())       # 1.2 2.3 3.4
x, y, z, x + y + z

(1.2, 2.3, 3.4, 6.9)