### 4.1 리스트(List)

In [1]:
a = [3, 7, 12, 16, 23]
type(a)

list

In [2]:
# 파이썬의 리스트 - 모든 자료형의 데이터를 섞어서 사용할 수 있음
person = ['James', 27, 'programmer', 175.4]
person

['James', 27, 'programmer', 175.4]

- 인덱싱

In [4]:
a[0], a[-1], person[2]

(3, 23, 'programmer')

- 슬라이싱

In [7]:
a[1:4], a[:2], a[3:]

([7, 12, 16], [3, 7], [16, 23])

In [9]:
a[::2], a[::-1]

([3, 12, 23], [23, 16, 12, 7, 3])

- 값 변경

In [10]:
a[0] = 1
a[-1] = 31
a

[1, 7, 12, 16, 31]

In [11]:
a[2] = [10, 20]
a

[1, 7, [10, 20], 16, 31]

In [12]:
# 새로 입력한 값 10 인덱싱
a[2][0]

10

In [13]:
# 슬라이싱으로 값을 변경
a[3:] = [45, 78]
a

[1, 7, [10, 20], 45, 78]

In [14]:
a[:2] = [100, 200, 300]
a

[100, 200, 300, [10, 20], 45, 78]

In [15]:
a[3][1] = [-1, -3, -5]
a

[100, 200, 300, [10, [-1, -3, -5]], 45, 78]

In [16]:
a[1:2] = [500, 600]
a

[100, 500, 600, 300, [10, [-1, -3, -5]], 45, 78]

In [17]:
# 리스트 맨 뒤에 값을 추가시키려면
a[7] = 20

IndexError: list assignment index out of range

In [18]:
# append method를 사용해야 함
a.append(20)
a

[100, 500, 600, 300, [10, [-1, -3, -5]], 45, 78, 20]

- 빈 리스트 만들기

In [19]:
b = []
c = list()

In [20]:
import random
for i in range(5):
    b.append(random.randint(1, 6))
b

[2, 1, 6, 3, 1]

- 리스트 연산

In [21]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b           # 리스트 연결(concatanation)

[1, 2, 3, 4, 5, 6]

In [22]:
a * 3       # 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [23]:
len(a), type(a)

(3, list)

In [24]:
min(a), max(a), sum(a)

(1, 3, 6)

In [26]:
list(reversed(a))

[3, 2, 1]

In [28]:
sorted([44, 8, 9, 3, 25])

[3, 8, 9, 25, 44]

#### Tuple(튜플)
- 일단 생성되면 값을 변경할 수 없음(immutable)

In [29]:
t = (4, 35, 7, 25, 10)
type(t), t

(tuple, (4, 35, 7, 25, 10))

In [30]:
t = 4, 6, 12
type(t)

tuple

In [33]:
# 1개 원소를 갖는 튜플
x = (4, )               # x = 4, 도 가능, x = (4)는 튜플이 아님
type(x)

tuple

In [34]:
# 리스트와 동일하게 인덱싱할 수 있음
t[0]

4

In [35]:
# 값을 변경할 수 없음
t[0] = 1

TypeError: 'tuple' object does not support item assignment

- List/tuple unpacking

In [36]:
x, y, z = (10, 20, 30)
x, y, z

(10, 20, 30)

In [37]:
x, y, z = [3, 4, 5]
x, y, z

(3, 4, 5)

In [38]:
list('ABC')

['A', 'B', 'C']

In [40]:
x, y, z = list('ABC')
x, y, z

('A', 'B', 'C')