### 4.4 딕셔너리(Dictionary)

In [1]:
person_list = ['James', 27, 'programmer', 175.8]
person_dict = {'name': 'James', 'age': 27, 'job': 'programmer', 'height': 175.8}
type(person_dict), person_dict

(dict, {'name': 'James', 'age': 27, 'job': 'programmer', 'height': 175.8})

- 인덱싱

In [2]:
person_dict['name'], person_dict['job']

('James', 'programmer')

In [4]:
key = 'age'
person_dict[key]

27

In [5]:
person_dict.get(key), person_dict.get('height')

(27, 175.8)

In [6]:
person_dict.keys()

dict_keys(['name', 'age', 'job', 'height'])

In [7]:
person_dict.values()

dict_values(['James', 27, 'programmer', 175.8])

In [8]:
person_dict.items()

dict_items([('name', 'James'), ('age', 27), ('job', 'programmer'), ('height', 175.8)])

- 복잡한 딕셔너리

In [9]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}

In [10]:
# 지구의 평균 반지름
terrestrial_planet['Earth']['mean_radius']

6371.0

In [11]:
terrestrial_planet.keys()

dict_keys(['Mercury', 'Venus', 'Earth', 'Mars'])

In [12]:
terrestrial_planet['Earth'].keys()

dict_keys(['mean_radius', 'mass', 'orbital_period'])

- 딕셔너리 값 변경하기/추가하기

In [13]:
person_dict

{'name': 'James', 'age': 27, 'job': 'programmer', 'height': 175.8}

In [14]:
# 기존 key값에 value를 할당하면 값이 변경
person_dict['job'] = 'engineer'
person_dict

{'name': 'James', 'age': 27, 'job': 'engineer', 'height': 175.8}

In [15]:
# 없는 key값에 value를 할당하면 항목이 추가됨
person_dict['gender'] = '남'
person_dict

{'name': 'James', 'age': 27, 'job': 'engineer', 'height': 175.8, 'gender': '남'}

In [18]:
person_dict.setdefault('weight')
person_dict

{'name': 'James',
 'age': 27,
 'job': 'engineer',
 'height': 175.8,
 'gender': '남',
 'weight': None}

In [19]:
person_dict.update(weight=70)
person_dict

{'name': 'James',
 'age': 27,
 'job': 'engineer',
 'height': 175.8,
 'gender': '남',
 'weight': 70}

- 값 제거하기
    - pop: key를 인수로 주고, 값이 반환되면서 item이 삭제
    - clear: 모든 요소 삭제
    - del 명령어

In [21]:
# dictionary key의 순서가 보장되어 있지 않음
person_dict.pop('weight')
person_dict

{'name': 'James', 'age': 27, 'job': 'engineer', 'height': 175.8, 'gender': '남'}

In [22]:
value = person_dict.pop('gender')
value

'남'

In [23]:
person_dict

{'name': 'James', 'age': 27, 'job': 'engineer', 'height': 175.8}

In [24]:
del person_dict['height']
person_dict

{'name': 'James', 'age': 27, 'job': 'engineer'}

In [25]:
person_dict.clear()
person_dict

{}

- in 연산자

In [26]:
'Jupyter' in terrestrial_planet

False