### 4.9 2차원 리스트

In [1]:
a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [3]:
from pprint import pprint
pprint(a, width=20)

[[10, 20],
 [30, 40],
 [50, 60]]

In [4]:
import numpy as np
b = np.arange(10, 61, 10).reshape(3, 2)
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [7]:
import pandas as pd
df = pd.DataFrame(b, columns=['first', 'second'])
df

   first  second
0     10      20
1     30      40
2     50      60

- 인덱싱

In [8]:
# 30
a[1][0], b[1,0], df['first'][1]

(30, 30, 30)

- 2차원 리스트의 반복문

In [9]:
for row in a:
    print(row)

[10, 20]
[30, 40]
[50, 60]

In [10]:
len(a)

3

In [11]:
a[0]

[10, 20]

- 반복문으로 2차원 리스트 만들기

In [12]:
# 주사위를 던져서 나오는 눈으로 만든 3 x 4 리스트
import random
outer_list = []
for i in range(3):
    inner_list = []
    for k in range(4):
        inner_list.append(random.randint(1, 6))
    outer_list.append(inner_list)
pprint(outer_list, width=20)

[[3, 6, 6, 6],
 [6, 1, 1, 1],
 [1, 1, 2, 1]]

In [14]:
# random() > 0.7 --> 지뢰(*), 아니면 .
# 8 x 8 크기
mines = []
for _ in range(8):
    rows = []
    for _ in range(8):
        if random.random() > 0.7:
            rows.append('*')
        else:
            rows.append('.')
    mines.append(rows)
pprint(mines, width=80)

[['.', '*', '.', '*', '*', '.', '.', '.'],
 ['.', '.', '.', '*', '.', '*', '*', '.'],
 ['.', '.', '.', '.', '.', '.', '.', '*'],
 ['.', '.', '.', '.', '.', '.', '.', '.'],
 ['.', '.', '.', '.', '.', '*', '.', '*'],
 ['.', '*', '.', '.', '.', '.', '.', '.'],
 ['.', '.', '.', '.', '.', '.', '*', '.'],
 ['.', '.', '.', '.', '.', '*', '.', '.']]

- 표현식

In [15]:
outer_list = []
for i in range(3):
    inner_list = [random.randint(1, 6) for k in range(4)]
    outer_list.append(inner_list)
pprint(outer_list, width=20)

[[2, 6, 6, 6],
 [6, 5, 2, 3],
 [3, 1, 3, 3]]

In [17]:
outer_list = [[random.randint(1, 6) for _ in range(4)] for _ in range(3)]
pprint(outer_list, width=20)

[[5, 2, 6, 4],
 [4, 2, 2, 5],
 [2, 1, 4, 2]]