## 8. 객체 지향
### 8.1 클래스의 기본

- 사람의 정보를 저장하는 자료 만들기

In [1]:
# 리스트
person_list = ['James', 175.0, 'programmer', 27]

In [2]:
# 딕셔너리
person_dict = {
    'name':'James', 'height':175.0, 'job':'programmer', 'age':27
}

In [3]:
# 클래스
class Person:
    def __init__(self):         # 생성자 함수, 클래스 속성을 정의
        self.name = 'James'
        self.height = 175.0
        self.job = 'programmer'
        self.age = 27

In [4]:
# 이름을 참조하는 방법
person_list[0], person_dict['name']

('James', 'James')

In [5]:
# 클래스는 먼저 객체를 생성한 후, 이름을 참조해야 함
james = Person()
james.name

'James'

In [6]:
# 범용적으로 만들어, 객체를 생성할 때 속성의 값을 할당
class Person2:
    def __init__(self, name, height, job, age):
        self.name = name
        self.height = height
        self.job = job
        self.age = age

In [7]:
james = Person2('James', 175.0, 'programmer', 27)
maria = Person2('Maria', 165.0, 'designer', 25)

In [9]:
maria.name, maria.height, maria.job, maria.age

('Maria', 165.0, 'designer', 25)

- 메소드(Method)
    - 클래스가 가지는 함수
    - 객체가 할 수 있는 행위를 모델링

In [8]:
class Person3:
    def __init__(self, name, height, job, age):
        self.name = name
        self.height = height
        self.job = job
        self.age = age

    def get_info(self):
        return f'이름: {self.name}, 키: {self.height}, 직업: {self.job}, 나이: {self.age}'

In [17]:
james = Person3('James', 175.0, 'programmer', 27)
maria = Person3('Maria', 165.0, 'designer', 25)

In [11]:
maria.get_info()

'이름: Maria, 키: 165.0, 직업: designer, 나이: 25'

In [18]:
print(maria)

<__main__.Person3 object at 0x000001245A6F4450>

In [13]:
class Person4:
    def __init__(self, name, height, job, age):
        self.name = name
        self.height = height
        self.job = job
        self.age = age

    def get_info(self):
        return f'이름: {self.name}, 키: {self.height}, 직업: {self.job}, 나이: {self.age}'
    
    def __str__(self):
        return f'Person: 이름={self.name}, 키={self.height}, 직업={self.job}, 나이={self.age}'

In [19]:
james = Person4('James', 175.0, 'programmer', 27)
maria = Person4('Maria', 165.0, 'designer', 25)

In [20]:
print(james)

Person: 이름=James, 키=175.0, 직업=programmer, 나이=27

- 연습문제: class Tmoney
    - 속성: age, balance(잔액)
    - pay() method
        - age<7: 무료, 7<=age<=12: 650, 13<=age<=18: 1050, 19<=age: 1350
        - oo살의 요금은 ooo원이고, 잔액은 ooo원입니다.
        - 잔액이 부족하면 '잔액이 부족합니다.ㅠㅠ' 출력
    - charge(amount) method
        - amount 만큼의 금액을 balance에 추가

In [21]:
class Tmoney:
    def __init__(self, age, balance):
        self.age = age
        self.balance = balance

    def pay(self):
        if self.age < 7:
            fare = 0
        elif 7 <= self.age <= 12:
            fare = 650
        elif 13 <= self.age <= 18:
            fare = 1050
        else:
            fare = 1350

        if fare <= self.balance:
            self.balance -= fare
            print(f'{self.age}살의 요금은 {fare:,d}원이고, 잔액은 {self.balance:,d}원입니다.')
        else:
            print('잔액이 부족합니다.ㅠㅠ')

    def charge(self, amount):
        self.balance += amount
        print(f'{amount:,d}원을 충전하였고, 잔액은 {self.balance:,d}원입니다.')

In [24]:
# 개선 작업(Refactoring)
class Tmoney:
    def __init__(self, age, balance):
        self.age = age
        self.balance = balance
        self.fare = 1350 if self.age >= 19 else \
                        1050 if self.age >= 13 else \
                            650 if self.age >= 7 else 0

    def pay(self):
        if self.fare <= self.balance:
            self.balance -= self.fare
            print(f'{self.age}살의 요금은 {self.fare:,d}원이고, 잔액은 {self.balance:,d}원입니다.')
        else:
            print('잔액이 부족합니다.ㅠㅠ')

    def charge(self, amount):
        self.balance += amount
        print(f'{amount:,d}원을 충전하였고, 잔액은 {self.balance:,d}원입니다.')

In [30]:
card = Tmoney(24, 2000)
card.pay()
card.charge(10000)

24 살의 요금은 1,350원이고, 잔액은 650원입니다.
10,000원을 충전하였고, 잔액은 10,650원입니다.

In [31]:
for _ in range(10):
    card.pay()

24 살의 요금은 1,350원이고, 잔액은 9,300원입니다.
24 살의 요금은 1,350원이고, 잔액은 7,950원입니다.
24 살의 요금은 1,350원이고, 잔액은 6,600원입니다.
24 살의 요금은 1,350원이고, 잔액은 5,250원입니다.
24 살의 요금은 1,350원이고, 잔액은 3,900원입니다.
24 살의 요금은 1,350원이고, 잔액은 2,550원입니다.
24 살의 요금은 1,350원이고, 잔액은 1,200원입니다.
잔액이 부족합니다.ㅠㅠ
잔액이 부족합니다.ㅠㅠ
잔액이 부족합니다.ㅠㅠ

- Account 문제

In [1]:
from account import Account

In [2]:
acc = Account('230906', '제임스', 100000)
print(acc)
acc.deposit(200000)
print(acc)
acc.withdraw(400000)
acc.withdraw(250000)
print(acc)

계좌번호: 230906, 소유주: 제임스, 잔액:    100,000
계좌번호: 230906, 소유주: 제임스, 잔액:    300,000
잔액이 부족합니다.
계좌번호: 230906, 소유주: 제임스, 잔액:     50,000