#### 심사문제 23.7
표준 입력으로 2차원 리스트의 가로(col)와 세로(row)가 입력되고 그 다음 줄부터 리스트의 요소로 들어갈 문자가 입력됩니다.<br>
이때 2차원 리스트 안에서 *는 지뢰이고 .은 지뢰가 아닙니다.<br>
지뢰가 아닌 요소에는 인접한 지뢰의 개수를 출력하는 프로그램을 만드세요.

In [8]:
def print_mines(m):
    for row in m:
        for element in row:
            print(element, end=' ')
        print()

In [12]:
import random
row, col = map(int, input().split())
mines = [['*' if random.random() > 0.7 else '.' for _ in range(col)] for _ in range(row)]
print_mines(mines)

. . * * . . . *
. . . . * . * .
. . . . * . * .
* * * . * . . *
* . . . * . * *
. . . . . * . .

In [13]:
pad_mines = [['.'] * (col + 2)]     # 맨 윗줄
for mine_row in mines:
    pad_row = ['.']                    # 맨 윗줄과 아랫줄을 제외한 줄
    pad_row.extend(mine_row)
    pad_row.append('.')
    pad_mines.append(pad_row)
pad_mines.append(['.'] * (col + 2))
print_mines(pad_mines)

. . . . . . . . . .
. . . * * . . . * .
. . . . . * . * . .
. . . . . * . * . .
. * * * . * . . * .
. * . . . * . * * .
. . . . . . * . . .
. . . . . . . . . .

In [16]:
final_mines = []
for i in range(1, row+1):
    line = []
    for k in range(1, col+1):
        if pad_mines[i][k] == '*':
            line.append('*')
        else:
            count = (pad_mines[i-1][k-1]=='*') + (pad_mines[i-1][k]=='*') + (pad_mines[i-1][k+1]=='*') + \
                    (pad_mines[i][k-1]=='*')                              + (pad_mines[i][k+1]=='*') + \
                    (pad_mines[i+1][k-1]=='*') + (pad_mines[i+1][k]=='*') + (pad_mines[i+1][k+1]=='*')
            line.append(str(count))
    final_mines.append(line)

print_mines(final_mines)

0 1 * * 2 2 2 *
0 1 2 4 * 4 * 3
2 3 2 4 * 5 * 3
* * * 4 * 5 4 *
* 4 2 3 * 4 * *
1 1 0 1 2 * 3 2

#### 심사문제 24.5
표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br>
단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

In [1]:
text = """
the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, 
whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, 
and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career 
as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. 
Grown-ups never understand anything by themselves, and it is tiresome for children to be always and 
forever explaining things to the.
"""
text.count('the')

8

In [2]:
text_list = text.split()
count_the = 0
for word in text_list:
    word = word.strip("',.").lower()
    if word == 'the':
        count_the += 1
print(count_the)

6

#### 심사문제 24.6
표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다.<br>
입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br>
이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [3]:
input_str = '51900;83000;158000;367500;250000;59200;128500;1304000'
price_list = list(map(int, input_str.split(';')))
price_list

[51900, 83000, 158000, 367500, 250000, 59200, 128500, 1304000]

In [4]:
price_list.sort(reverse=True)   # 내림차순(descending order) 정렬
price_list

[1304000, 367500, 250000, 158000, 128500, 83000, 59200, 51900]

In [5]:
for price in price_list:
    print(f'{price:9,d}')

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

#### 심사문제 25.8
표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다.<br>
다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

In [6]:
# alpha bravo charlie delta
# 10 20 30 40
keys = input().split()
values = map(int, input().split())
d = dict(zip(keys, values))
d

{'alpha': 10, 'bravo': 20, 'charlie': 30, 'delta': 40}

In [7]:
del d['delta']
d

{'alpha': 10, 'bravo': 20, 'charlie': 30}

In [8]:
# 반복문에서 반복 대상이 되는 딕셔너리의 크기를 변경시키는 작업을 하면 에러 발생
# 하지만 데이터는 삭제됨
for key, value in d.items():
    if value == 30:
        del d[key]

RuntimeError: dictionary changed size during iteration

In [13]:
d = {'alpha': 10, 'bravo': 20, 'charlie': 30}
for key, value in d.items():
    if value == 30:
        del_key = key
if del_key:
    del d[del_key]
d

{'alpha': 10, 'bravo': 20}

#### 심사문제 26.9
표준 입력으로 양의 정수 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요.<br>
단, 최종 결과는 공약수의 합으로 판단합니다.

In [14]:
# 약수의 집합
div_set = set()
x = 10
for i in range(1, x+1):
    if x % i == 0:
        div_set.add(i)
div_set

{1, 2, 5, 10}

In [15]:
div_set = {i for i in range(1, x+1) if x % i == 0}
div_set

{1, 2, 5, 10}

In [16]:
m, n = map(int, input().split())
m_set = {i for i in range(1, m+1) if m % i == 0}
n_set = {i for i in range(1, n+1) if n % i == 0}
print(m_set, n_set)

{1, 2, 3, 4, 6, 12} {1, 2, 4, 5, 10, 20}

In [17]:
common_divisors = m_set & n_set     # 교집합
common_divisors

{1, 2, 4}

In [18]:
sum(common_divisors)

7